html{
  font-family: "Arial", sans-serif;
}

body{
  background-color: rgb(119, 176, 196);
  color: white;
  max-width: 800px;
}

nav{
  text-align: right;
  margin-left: 20px;
  border-bottom: none;
}

.navbar{
  display: flex;
  width: 600px;
}

.navbar-logo{
  width: 150px;
  margin-right: 20px;
}

.dropdown-menu {
  position: inline;
  display: inline-block;
  text-align: left;
}

.dropdown-button {
  background-color: rgb(000000);
  padding: 10px;
}

.dropdown-content {
  position: absolute;
  display: none;
}

.dropdown-menu:hover .dropdown-content {
  display: grid;
  padding-top: 10px;
}

main{
  position: inline;
}

header h1{
  width: 200px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  padding: 0;
}

p{
  margin: 2%;
}

form{
  margin: 2%
}

h2, .input-form{
  text-align: left;
  margin: 2%
}

a{
  color: black;
}
