html{
  font-family: "Arial", sans-serif;
}

body{
  background-image:url('../images/background_hill.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  padding: 0;
}